.calendar-header {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-family: "LWXG Bright";
}

.action {
    align-content: center;
    font-size: 1.2em;
}

.month {
    font-size: 2em;
    margin-top: -20px;
}

.calendar-week {
    width: 100%;
    height: 50px;
}

.calendar-week div {
    width: 14.28%;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-family: "LWXG Bright";
}

.calendar-main {
    width: 100%;
}

.day-container {
    width: 14.28%;
    height: 60px;
    display: inline-block;
    text-align: center;
   align-self: center;
   line-height: 60px;
}

.day {
    font-family: "LWXG Bright";
    height: 60px;
    margin: auto;
    width: 60px;
}

.highlight {
    background-color: #04A5BB;
    border-radius: 30px;
    color: aliceblue;
}