/* fonts go here */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@font-face {
    font-family: "LXGW Bright";
    src: local("LXGWBright-Regular"),
        url("/fonts/LXGWBright-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGW Bright";
    src: local("LXGWBright-Medium"),
        url("/fonts/LXGWBright-Medium.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LXGWBright";
    src: local("LXGWBright-SemiLight"),
        url("/fonts/LXGWBright-SemiLight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    display: inline;
    vertical-align: baseline;
}